body{
    #articles{
        width: 80%;
        margin: auto;
        color: #535050;
       
        h3{
            font-family: "Open Sans";
            font-size: 25px;
            text-align: center;
            @media screen and (max-width:375px) {
               font-size:20px ;
               margin-top: 0;
            }
        }
        p{
            font-family: "Exo";
            font-size: 20px;
            text-align: center;
            @media screen and (max-width:375px) {
                font-size:15px ;
             }
        }
        .titre{
            font-weight: 700;
        }
        ul{
            li{
                color: #535353;
                font-family: "Exo";
                font-size: 20px;
                @media screen and (max-width:375px) {
                    font-size:15px ;
                 }
            }
        }
    }
}